-- =============================================================================
-- Хранимые процедуры для guap_routes_db
-- Используется CREATE OR ALTER — повторное применение безопасно.
-- =============================================================================
SET NOCOUNT ON;
SET QUOTED_IDENTIFIER ON;
SET ANSI_NULLS ON;
GO

-- -----------------------------------------------------------------------------
-- Маршрут_Список — список маршрутов с числом точек и суммой минут.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[Маршрут_Список]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        m.[id_маршрута]      AS Id,
        m.[название]         AS Title,
        m.[описание]         AS Description,
        m.[направление]      AS Direction,
        m.[url_изображения]  AS ImageUrl,
        ISNULL(p.PointsCount, 0)     AS PointsCount,
        ISNULL(p.DurationMinutes, 0) AS DurationMinutes
    FROM [маршрут] m
    OUTER APPLY (
        SELECT
            COUNT(*)                       AS PointsCount,
            SUM([время_для_точки_мин])     AS DurationMinutes
        FROM [точка_маршрута] tp
        WHERE tp.[id_маршрута] = m.[id_маршрута]
    ) p
    ORDER BY m.[название];
END;
GO

-- -----------------------------------------------------------------------------
-- Маршрут_Детали — карточка маршрута + точки + фотографии (3 result-set'а).
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[Маршрут_Детали]
    @id_маршрута INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        m.[id_маршрута]     AS Id,
        m.[название]        AS Title,
        m.[описание]        AS Description,
        m.[направление]     AS Direction,
        m.[url_изображения] AS ImageUrl
    FROM [маршрут] m
    WHERE m.[id_маршрута] = @id_маршрута;

    SELECT
        p.[id_точки_маршрута]   AS PointId,
        p.[порядок_следования]  AS [Order],
        p.[время_для_точки_мин] AS MinutesForPoint,
        a.[id_достопримечательности] AS AttractionId,
        a.[название]            AS AttractionTitle,
        a.[адрес]               AS AttractionAddress,
        a.[описание]            AS AttractionDescription,
        a.[url_аудиофайла]      AS AttractionAudioUrl
    FROM [точка_маршрута] p
    INNER JOIN [достопримечательность] a
        ON a.[id_достопримечательности] = p.[id_достопримечательности]
    WHERE p.[id_маршрута] = @id_маршрута
    ORDER BY p.[порядок_следования];

    SELECT
        ph.[id_точки_маршрута] AS PointId,
        ph.[url_изображения]   AS ImageUrl,
        ph.[порядок_сортировки] AS SortOrder,
        ph.[id_фотографии]     AS PhotoId
    FROM [фотография_точки_маршрута] ph
    INNER JOIN [точка_маршрута] p
        ON p.[id_точки_маршрута] = ph.[id_точки_маршрута]
    WHERE p.[id_маршрута] = @id_маршрута
    ORDER BY ph.[id_точки_маршрута], ph.[порядок_сортировки], ph.[id_фотографии];
END;
GO

-- -----------------------------------------------------------------------------
-- Викторина_ПоМаршруту — карточка викторины + список вопросов.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[Викторина_ПоМаршруту]
    @id_маршрута INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        v.[id_викторины] AS Id,
        v.[id_маршрута]  AS RouteId,
        v.[название]     AS Title,
        v.[описание]     AS Description
    FROM [викторина] v
    WHERE v.[id_маршрута] = @id_маршрута;

    SELECT
        q.[id_вопроса]                AS Id,
        q.[id_викторины]              AS QuizId,
        q.[текст_вопроса]             AS [Text],
        q.[вариант_ответа_1]          AS Option1,
        q.[вариант_ответа_2]          AS Option2,
        q.[вариант_ответа_3]          AS Option3,
        q.[вариант_ответа_4]          AS Option4,
        q.[индекс_правильного_ответа] AS CorrectIndex
    FROM [вопрос_викторины] q
    INNER JOIN [викторина] v ON v.[id_викторины] = q.[id_викторины]
    WHERE v.[id_маршрута] = @id_маршрута
    ORDER BY q.[id_вопроса];
END;
GO

-- -----------------------------------------------------------------------------
-- Викторина_СохранитьРезультат — добавляет результат с валидацией.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[Викторина_СохранитьРезультат]
    @id_пользователя              INT,
    @id_викторины                 INT,
    @количество_правильных_ответов INT,
    @id_результата                INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF @количество_правильных_ответов < 0
        THROW 50010, N'Количество правильных ответов не может быть отрицательным.', 1;

    DECLARE @всего_вопросов INT = (
        SELECT COUNT(*) FROM [вопрос_викторины] WHERE [id_викторины] = @id_викторины
    );

    IF @всего_вопросов = 0
        THROW 50011, N'Викторина не найдена или не содержит вопросов.', 1;

    IF @количество_правильных_ответов > @всего_вопросов
        THROW 50012, N'Количество правильных ответов больше числа вопросов в викторине.', 1;

    INSERT INTO [результат_викторины]
        ([id_пользователя], [id_викторины], [количество_правильных_ответов])
    VALUES
        (@id_пользователя, @id_викторины, @количество_правильных_ответов);

    SET @id_результата = SCOPE_IDENTITY();
END;
GO

-- -----------------------------------------------------------------------------
-- Пользователь_РезультатыВикторин — список результатов пользователя.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[Пользователь_РезультатыВикторин]
    @id_пользователя INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.[id_результата]                 AS Id,
        r.[id_пользователя]               AS UserId,
        r.[id_викторины]                  AS QuizId,
        r.[количество_правильных_ответов] AS CorrectAnswers,
        ISNULL(qc.TotalQuestions, 0)      AS TotalQuestions
    FROM [результат_викторины] r
    OUTER APPLY (
        SELECT COUNT(*) AS TotalQuestions
        FROM [вопрос_викторины] q
        WHERE q.[id_викторины] = r.[id_викторины]
    ) qc
    WHERE r.[id_пользователя] = @id_пользователя
    ORDER BY r.[id_результата] DESC;
END;
GO

-- -----------------------------------------------------------------------------
-- ПрогрессМаршрута_Сохранить — атомарный upsert прогресса + замена исключённых.
-- Параметр @исключенные_json — JSON-массив id_достопримечательностей.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[ПрогрессМаршрута_Сохранить]
    @id_пользователя           INT,
    @id_маршрута               INT,
    @id_последней_пройденной_точки INT,
    @исключенные_json          NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRAN;

    MERGE [прогресс_маршрута] AS target
    USING (SELECT @id_пользователя AS u, @id_маршрута AS r) AS src
        ON target.[id_пользователя] = src.u AND target.[id_маршрута] = src.r
    WHEN MATCHED THEN
        UPDATE SET
            [id_последней_пройденной_точки] = @id_последней_пройденной_точки,
            [завершен] = 0
    WHEN NOT MATCHED THEN
        INSERT ([id_пользователя], [id_маршрута], [id_последней_пройденной_точки], [завершен])
        VALUES (@id_пользователя, @id_маршрута, @id_последней_пройденной_точки, 0);

    DELETE FROM [исключенная_точка]
    WHERE [id_пользователя] = @id_пользователя
      AND [id_маршрута]     = @id_маршрута;

    IF @исключенные_json IS NOT NULL AND LEN(@исключенные_json) > 0
    BEGIN
        INSERT INTO [исключенная_точка]
            ([id_пользователя], [id_маршрута], [id_достопримечательности])
        SELECT @id_пользователя, @id_маршрута, CONVERT(INT, j.[value])
        FROM OPENJSON(@исключенные_json) AS j
        WHERE j.[value] IS NOT NULL;
    END

    COMMIT;
END;
GO

-- -----------------------------------------------------------------------------
-- ПрогрессМаршрута_ЗавершитьМаршрут — отметить маршрут как пройденный.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[ПрогрессМаршрута_ЗавершитьМаршрут]
    @id_пользователя           INT,
    @id_маршрута               INT,
    @id_последней_пройденной_точки INT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE [прогресс_маршрута] AS target
    USING (SELECT @id_пользователя AS u, @id_маршрута AS r) AS src
        ON target.[id_пользователя] = src.u AND target.[id_маршрута] = src.r
    WHEN MATCHED THEN
        UPDATE SET
            [id_последней_пройденной_точки] = @id_последней_пройденной_точки,
            [завершен] = 1
    WHEN NOT MATCHED THEN
        INSERT ([id_пользователя], [id_маршрута], [id_последней_пройденной_точки], [завершен])
        VALUES (@id_пользователя, @id_маршрута, @id_последней_пройденной_точки, 1);
END;
GO

-- -----------------------------------------------------------------------------
-- ПрогрессМаршрута_Сбросить — удаляет прогресс и исключённые точки.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[ПрогрессМаршрута_Сбросить]
    @id_пользователя INT,
    @id_маршрута     INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRAN;

    DELETE FROM [исключенная_точка]
    WHERE [id_пользователя] = @id_пользователя
      AND [id_маршрута]     = @id_маршрута;

    DELETE FROM [прогресс_маршрута]
    WHERE [id_пользователя] = @id_пользователя
      AND [id_маршрута]     = @id_маршрута;

    COMMIT;
END;
GO

-- -----------------------------------------------------------------------------
-- Пользователь_Статистика — сводка по пользователю.
-- -----------------------------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[Пользователь_Статистика]
    @id_пользователя INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.[id_пользователя] AS UserId,
        u.[email]           AS Email,
        ISNULL(p.RoutesInProgress, 0) AS RoutesInProgress,
        ISNULL(p.RoutesCompleted,  0) AS RoutesCompleted,
        ISNULL(q.QuizAttempts,     0) AS QuizAttempts,
        CAST(ISNULL(q.AvgPercent, 0) AS DECIMAL(5,2)) AS AvgQuizPercent
    FROM [пользователь] u
    OUTER APPLY (
        SELECT
            SUM(CASE WHEN [завершен] = 1 THEN 1 ELSE 0 END) AS RoutesCompleted,
            SUM(CASE WHEN [завершен] = 0 THEN 1 ELSE 0 END) AS RoutesInProgress
        FROM [прогресс_маршрута]
        WHERE [id_пользователя] = u.[id_пользователя]
    ) p
    OUTER APPLY (
        SELECT
            COUNT(*) AS QuizAttempts,
            AVG(
                CASE
                    WHEN qcnt.TotalQuestions > 0
                        THEN (CAST(r.[количество_правильных_ответов] AS FLOAT)
                              / qcnt.TotalQuestions) * 100.0
                    ELSE 0
                END
            ) AS AvgPercent
        FROM [результат_викторины] r
        OUTER APPLY (
            SELECT COUNT(*) AS TotalQuestions
            FROM [вопрос_викторины] qq
            WHERE qq.[id_викторины] = r.[id_викторины]
        ) qcnt
        WHERE r.[id_пользователя] = u.[id_пользователя]
    ) q
    WHERE u.[id_пользователя] = @id_пользователя;
END;
GO

PRINT N'=== Хранимые процедуры применены ===';
GO
