SET NOCOUNT ON;
GO

PRINT N'>>> Новые индексы:';
SELECT t.name AS [таблица], i.name AS [индекс], i.type_desc, i.has_filter
FROM sys.indexes i
JOIN sys.tables  t ON t.object_id = i.object_id
WHERE i.is_primary_key = 0
  AND i.name IN (
    N'IX_маршрут_название',
    N'IX_достопримечательность_название',
    N'IX_результат_викторины_пользователь_результат',
    N'IX_фото_точки_сортировка',
    N'IX_прогресс_маршрута_незавершенные',
    N'IX_точка_маршрута_маршрут_порядок',
    N'IX_аудит_тип_дата',
    N'IX_аудит_пользователь'
  )
ORDER BY t.name, i.name;

PRINT N'>>> Хранимые процедуры:';
SELECT name AS [процедура]
FROM sys.procedures
WHERE name IN (
    N'Маршрут_Список',
    N'Маршрут_Детали',
    N'Викторина_ПоМаршруту',
    N'Викторина_СохранитьРезультат',
    N'Пользователь_РезультатыВикторин',
    N'ПрогрессМаршрута_Сохранить',
    N'ПрогрессМаршрута_ЗавершитьМаршрут',
    N'ПрогрессМаршрута_Сбросить',
    N'Пользователь_Статистика'
)
ORDER BY name;

PRINT N'>>> Триггеры:';
SELECT
    OBJECT_NAME(parent_id) AS [на таблице],
    name                   AS [триггер],
    is_disabled
FROM sys.triggers
WHERE name IN (
    N'тг_пользователь_after_insert',
    N'тг_пользователь_after_update_email',
    N'тг_вопрос_викторины_validate',
    N'тг_прогресс_маршрута_validate',
    N'тг_результат_викторины_validate',
    N'тг_прогресс_маршрута_аудит_завершения',
    N'тг_результат_викторины_аудит'
)
ORDER BY [на таблице], [триггер];

PRINT N'>>> Таблица аудита:';
SELECT
    t.name AS [таблица],
    SUM(p.rows) AS [строк]
FROM sys.tables t
JOIN sys.partitions p ON p.object_id = t.object_id
WHERE t.name = N'аудит_действий' AND p.index_id <= 1
GROUP BY t.name;
GO
