-- =============================================================================
-- Дополнительные индексы для guap_routes_db
-- Идемпотентный скрипт: повторный запуск не падает и ничего не дублирует.
-- =============================================================================
SET NOCOUNT ON;
SET QUOTED_IDENTIFIER ON;
SET ANSI_NULLS ON;
SET ANSI_PADDING ON;
SET ANSI_WARNINGS ON;
SET ARITHABORT ON;
SET CONCAT_NULL_YIELDS_NULL ON;
SET NUMERIC_ROUNDABORT OFF;
GO

-- 1) [маршрут].[название] — список маршрутов сортируется по названию.
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes
    WHERE name = N'IX_маршрут_название' AND object_id = OBJECT_ID(N'[маршрут]')
)
BEGIN
    CREATE NONCLUSTERED INDEX [IX_маршрут_название]
        ON [маршрут] ([название] ASC)
        INCLUDE ([описание], [направление], [url_изображения]);
    PRINT N'Создан индекс IX_маршрут_название';
END
ELSE
    PRINT N'Индекс IX_маршрут_название уже существует';
GO

-- 2) [достопримечательность].[название] — поиск и сортировка.
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes
    WHERE name = N'IX_достопримечательность_название' AND object_id = OBJECT_ID(N'[достопримечательность]')
)
BEGIN
    CREATE NONCLUSTERED INDEX [IX_достопримечательность_название]
        ON [достопримечательность] ([название] ASC);
    PRINT N'Создан индекс IX_достопримечательность_название';
END
ELSE
    PRINT N'Индекс IX_достопримечательность_название уже существует';
GO

-- 3) Покрывающий индекс под GetUserResultsAsync.
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes
    WHERE name = N'IX_результат_викторины_пользователь_результат' AND object_id = OBJECT_ID(N'[результат_викторины]')
)
BEGIN
    CREATE NONCLUSTERED INDEX [IX_результат_викторины_пользователь_результат]
        ON [результат_викторины] ([id_пользователя] ASC, [id_результата] DESC)
        INCLUDE ([id_викторины], [количество_правильных_ответов]);
    PRINT N'Создан индекс IX_результат_викторины_пользователь_результат';
END
ELSE
    PRINT N'Индекс IX_результат_викторины_пользователь_результат уже существует';
GO

-- 4) Покрывающий индекс по фотографиям точки маршрута.
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes
    WHERE name = N'IX_фото_точки_сортировка' AND object_id = OBJECT_ID(N'[фотография_точки_маршрута]')
)
BEGIN
    CREATE NONCLUSTERED INDEX [IX_фото_точки_сортировка]
        ON [фотография_точки_маршрута] ([id_точки_маршрута] ASC, [порядок_сортировки] ASC, [id_фотографии] ASC)
        INCLUDE ([url_изображения]);
    PRINT N'Создан индекс IX_фото_точки_сортировка';
END
ELSE
    PRINT N'Индекс IX_фото_точки_сортировка уже существует';
GO

-- 5) Фильтрованный индекс по незавершённым маршрутам пользователя.
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes
    WHERE name = N'IX_прогресс_маршрута_незавершенные' AND object_id = OBJECT_ID(N'[прогресс_маршрута]')
)
BEGIN
    CREATE NONCLUSTERED INDEX [IX_прогресс_маршрута_незавершенные]
        ON [прогресс_маршрута] ([id_пользователя] ASC, [id_маршрута] ASC)
        INCLUDE ([id_последней_пройденной_точки])
        WHERE [завершен] = 0;
    PRINT N'Создан индекс IX_прогресс_маршрута_незавершенные';
END
ELSE
    PRINT N'Индекс IX_прогресс_маршрута_незавершенные уже существует';
GO

-- 6) Индекс по точкам маршрута для выборки по (id_маршрута, порядок_следования).
IF NOT EXISTS (
    SELECT 1 FROM sys.indexes
    WHERE name = N'IX_точка_маршрута_маршрут_порядок' AND object_id = OBJECT_ID(N'[точка_маршрута]')
)
BEGIN
    CREATE NONCLUSTERED INDEX [IX_точка_маршрута_маршрут_порядок]
        ON [точка_маршрута] ([id_маршрута] ASC, [порядок_следования] ASC)
        INCLUDE ([id_достопримечательности], [время_для_точки_мин]);
    PRINT N'Создан индекс IX_точка_маршрута_маршрут_порядок';
END
ELSE
    PRINT N'Индекс IX_точка_маршрута_маршрут_порядок уже существует';
GO

PRINT N'=== Индексы применены ===';
GO
